// 
// Typography
// 

$font-family-sans-serif: "arial", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$font-family-serif: "Impact", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$font-family-base: $font-family-sans-serif;

$headings-font-family: $font-family-serif;

$btn-font-family: $font-family-sans-serif;

.big-icon {
    font-size: 7rem;
}

.no-decoration {
    color: black;
    text-decoration: none;
}

.text-center {
    text-align: center;
}